/vendor/
/node_modules/
/test/
/docs/old/
/docs/preguntas.md
/docs/preguntas2.md
/docs/documento_maestro.md
405.txt
phpcbf.phar
405(1).txt
fix_lint.php
.gitignore
sort_lang.php
sort_lang.py
fix_braces.php
sort_one.py
fix_braces.py
fix_all.py
error_ci(1).txt
error_ci.txt
/moodle_cs
CodeSniffer.conf
/issues_resolver/
