name: Moodle Plugin CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        moodle-branch: ['MOODLE_401_STABLE', 'MOODLE_402_STABLE', 'MOODLE_403_STABLE']
        php: ['8.0', '8.1', '8.2']
        database: ['mysqli', 'pgsql']
        exclude:
          - moodle-branch: 'MOODLE_401_STABLE'
            php: '8.2'

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          path: plugin

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, pgsql, mysqli, zip, gd, xml, curl, soap, sodium

      - name: Start MySQL
        if: matrix.database == 'mysqli'
        run: |
          sudo systemctl start mysql.service
          mysql -uroot -proot -e "CREATE DATABASE moodle DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;"
          mysql -uroot -proot -e "GRANT ALL ON moodle.* TO 'moodle'@'localhost' IDENTIFIED BY 'moodle';"

      - name: Start PostgreSQL
        if: matrix.database == 'pgsql'
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres psql -c "CREATE USER moodle PASSWORD 'moodle';"
          sudo -u postgres psql -c "CREATE DATABASE moodle OWNER moodle;"

      - name: Install Moodle Plugin CI
        run: |
          composer create-project -n --no-dev --prefer-dist moodlehq/moodle-plugin-ci ci ^4
          echo "$(cd ci/bin; pwd)" >> $GITHUB_PATH
          echo "$(cd ci/vendor/bin; pwd)" >> $GITHUB_PATH

      - name: Install Moodle
        run: moodle-plugin-ci install --plugin ./plugin --db-host=127.0.0.1 --db-user=moodle --db-pass=moodle
        env:
          DB: ${{ matrix.database }}

      - name: PHP Lint
        run: moodle-plugin-ci phplint

      - name: PHP Copy/Paste Detector
        run: moodle-plugin-ci phpcpd

      - name: PHP Mess Detector
        run: moodle-plugin-ci phpmd

      - name: Moodle Code Checker
        run: moodle-plugin-ci codechecker --max-warnings 0

      - name: Validate XML
        run: moodle-plugin-ci validate

      - name: Check Savepoints
        run: moodle-plugin-ci savepoints

      - name: Mustache Lint
        run: moodle-plugin-ci mustache

      - name: Grunt
        run: moodle-plugin-ci grunt

      - name: PHPUnit tests
        run: moodle-plugin-ci phpunit

      - name: Behat tests
        run: moodle-plugin-ci behat
